#tit
  BOTONERA TELECONTROLADA SIPSE

#parrafo
  En 2 meses se construyeron e instalaron: 70 unidades<br/>

#foto
  %img{:src => "/attachments/productos.png", :alt => "Botonería"}

#parrafo
  Con este dispositivo y algunos ligeros cambios en un interruptor modelo antiguo se logra  dar inteligencia intermedia y se recupera un equipo limitado y que, ahora puede ser observado a distancia y  telecontrolado,  con una UTR marca INTEGRA. Con esto mejoramos su seguridad en la operación y su telecontrol por el operador, de la red eléctrica sin dejar de  mencionar la flexibilidad y   los enormes beneficios que proporciona la supervisión remota
