#tit
  Controles<br/>
#parrafo
  Mantenimiento preventivo, carga de software y reparación de equipos de controles de diversas marcas como son: <br/> 
  Whipp & Bourne PANACEA<br/>
#fotol  
  %img{:src => "/attachments/panacea.png", :alt => "Hawker Switchgear"}
#subtit
  COMANEL<br/>
#subtit
  COOPER<br/>
#fotol  
  %img{:src => "/attachments/coopercontrol.png", :alt => "Coopper"}
  %img{:src => "/attachments/coopercontrol1.png", :alt => "Coopper"}
#subtit
  ABB<br/>
#fotol  
  %img{:src => "/attachments/abb.png", :alt => "ABB"}

