#tit
  Controles<br/>
#parrafo
  Mantenimiento preventivo, carga de software y reparación de equipos de controles de diversas marcas como son: <br/> 
  Whipp & Bourne PANACEA<br/>
#fotol  
  %img{:src => "/attachments/panacea.png", :alt => "Hawker Switchgear"}
#subtit
  COMANEL<br/>
  %img{:src => "/attachments/comanel.png", :alt => "Hawker Comanel"}
#subtit
  COOPER<br/>
#fotol  
  %img{:src => "/attachments/coopercontrol.png", :alt => "Coopper"}
  %img{:src => "/attachments/coopercontrol1.png", :alt => "Coopper"}
#subtit
  ABB<br/>
#fotol  
  %img{:src => "/attachments/abb.png", :alt => "ABB"}
#subtit
  Arteche<br/>
#fotol  
  %img{:src => "/attachments/arteche.png", :alt => "Arteche"}
#parrafo
  %a{:href =>  "novedades"} Interfaz entre  tanque Arteche y Control Falcon<br/>
  Bluetooth para controles de restauradores con recepción de hasta 40mts<br/>
  Upgrade  actualización de controles


