#dos
  BIENVENIDOS<br/>
  SIPSE  empresa que nace con el compromiso de servicio y un paradigma de satisfacción al cliente, siempre con un espíritu de superación por obtener una mejora continua.<br/> 
  Somos el único distribuidor autorizado en México Hawker Switchgear.

#tres
  #slideshow

  :javascript
    $(function() {
      $('#slideshow').crossSlide({
        sleep: 2,
        fade: 1
      }, [
        { src: '/attachments/gal11.png' },
        { src: '/attachments/gal2.png' },
        { src: '/attachments/gal13.png' },
        { src: '/attachments/gal4.png' },
        { src: '/attachments/gal15.png' },
        { src: '/attachments/gal6.png' },
        { src: '/attachments/gal7.png' },
        { src: '/attachments/gal8.png' },
        { src: '/attachments/gal9.png' },
        { src: '/attachments/gal10.png' },
        { src: '/attachments/gal1.png' },
        { src: '/attachments/gal12.png' },
        { src: '/attachments/gal3.png' },
        { src: '/attachments/gal14.png' },
        { src: '/attachments/gal5.png' },
        { src: '/attachments/gal16.png' },
        { src: '/attachments/gal17.png' },
        { src: '/attachments/gal18.png' },
        { src: '/attachments/gal19.png' },
        { src: '/attachments/gal20.png' }
      ])
    });
