#tit
  MEJORAMIENTO DEL SISTEMA DE TIERRAS
#parrafo
  Componente para la mejora de la resistividad del terreno.<br/>
  Principales características del Favigel :
#parrafo
  %ul
    %li Seguridad y ecología
    %li Economía
    %li Estabilidad
    %li Alta temperatura de fusión
    %li Baja resistividad
    %li Tixotropía
    %li Retención de humedad
    %li Anticorrosivo

#subtit
  CARACTERISTICAS ENSAYOS
#foto
  %img{:src => "/attachments/tabla1.png", :alt => "CARACTERISTICAS"}
#parrafo
  PRODUCTOS
#parrafo
  %ul
    %li FAVIGEL (Colombiano)
    %li SANICK GEL (Italiano)
    %li GEM 25 (EE.UU)
    %li HIDROSOLTA (Colombiano)
#foto
  %img{:src => "/attachments/tabla2.png", :alt => "CARACTERISTICAS"}

