#tit
  Migraciones
#parrafo
  Consiste en modificar un equipo y/o su control para  que pueda ser visto y telecontrolado por el operador de la red eléctrica
#fotol
  %img{:src => "/attachments/migra1.png", :alt => "Migraciones"}
