#tit
  Potencia

#subtit
  Mantenimiento preventivo, reparación de equipos de potencia como son: 
#parrafo
  %ul
    %li Boquillas para generador
    %li Controles para cambiadores de derivaciones de transformadores
    %li Relevadores de sincronismo
    %li Relevadores para generador
    %li Transformadores elevadores
    %li Transformadores de potencia
    %li Mantenimiento a  Subestaciones
