#tit
  Quienes Somos
#parrafo
  SIPSE empresa que nace con el compromiso de servicio y un paradigma de satisfacción al cliente, siempre con un espíritu de superación por obtener una mejora continua.  Su inicio conceptual es en 2002 , podemos decir con orgullo, que el Ing. Gabriel Orlando Fajardo Díaz, es el iniciador de esta IDEA  y su consolidación legal, como empresa, en el 2010, tal como queda en su testimonio Notariado. 
#subtit
  Misión

#parrafo
  Integrar nuevas, mejores y mas seguras alternativas de Energía; así como la optimización de las existentes con complementos de instrumentación y control para hacer 100% rentables las empresas. Además de estar comprometidos al máximo con nuestra ecología y el medio ambiente evitando daños.<br/>
  Ser una empresa comprometida en ofrecer soluciones integrales en base de productos de calidad con tecnología y experiencia para la medición, control y protección en el sector eléctrico e industrial.

#subtit
  Visión: 
#parrafo
  Ser una empresa con soluciones de calidad cumpliendo con la intensidad y respuesta en tiempo;  que demandan los clientes de este mundo globalizado.<br/>

  Llegar a ser una empresa líder, y competitiva en el mercado de México y Latinoamérica dentro del sector eléctrico para nuestros clientes Ofreciendo soluciones integrales con una gama de productos y servicios.<br/>

  Cooperar en el desarrollo y crecimiento de México y de nuestras familias.<br/>

#subtit
  Valores

#parrafo
  %ul
    %li Profesionales
    %li Comprometidos
    %li Integridad
    %li Honestidad
    %li Lealtad
    %li Innovadores
    %li Trabajo en equipo
    %li Calidad humana

#parrafo
  CALIDAD:<br/>En todos nuestros productos.<br/>
  INOVACION:<br/>Continua de nuestros métodos de trabajo y para las solución de los requerimientos de nuestros clientes.<br/>
  PUNTUALIDAD:<br/> En la entrega de los trabajos solicitados por nuestros clientes.<br/>
  COHERENCIA:<br/> Entre lo nos comprometemos con nuestro cliente y lo que se entrega.<br/>
  COMUNICACIÓN:<br/> Constante y efectiva entre todos los que conformamos la empresa, proveedores y clientes.<br/>
  CONFIANZA:<br/> En que realizamos nuestras labores de la mejor manera.<br/>
  COMPROMISO:<br/> Con nuestros clientes, al brindarles un servicio de calidad y buscando una solucion integral.<br/>

