#tit
  %a{:href =>  "tanques"} Reparación de Tanques<br/>
#parrafo1
  Mantenimiento preventivo y reparación de equipos de seccionamiento y restauradores de diversas marcas
#fotol  
  %img{:src => "/attachments/rep2.png", :alt => "Reparaciones"}

#tit
  %a{:href =>  "controles"} Reparacion de Controles<br/>
#parrafo1
  Mantenimiento preventivo, carga de software y reparación de equipos de controles de diversas
#fotol  
  %img{:src => "/attachments/rep2.png", :alt => "Reparaciones"}

#tit
  %a{:href =>  "migraciones"} Migraciones<br/>
#parrafo1
  Consiste en modificar un equipo y/o su control para  que pueda ser visto y telecontrolado por el operador de la red eléctrica
#fotol
  %img{:src => "/attachments/rep1.png", :alt => "Migraciones"}

#tit
  %a{:href =>  "estructuras"} Estructuras<br/>
#parrafo1
  Estructuras metalicas
#fotol
  %img{:src => "/attachments/rep3.png", :alt => "Estructuras"}

