#tit
  Sistemas

#parrafo
  Modelado, diseño e implementación de sistemas: SCADA, GIS DMS,OMS,CMS<br/>
  SPARD. Software de Ubicación de restauradores

#foto
  %img{:src => "/attachments/sistemas.png", :alt => "SISTEMAS"}
