#tit
  Tanques<br/>
#parrafo
  Mantenimiento preventivo y reparación de equipos de seccionamiento y restauradores de diversas marcas como son:<br/> 
  Hawker Switchgear<br/>
#fotol  
  %img{:src => "/attachments/hawker.png", :alt => "Hawker Switchgear"}
#subtit
  Cooper<br/>
#fotol  
  %img{:src => "/attachments/cooper.png", :alt => "Cooper"}
#subtit
  Joslyn<br/>
#fotol  
  %img{:src => "/attachments/joslyn.png", :alt => "Joslyn"}
#subtit
  Whipp & Bourne GVR 27<br/>
#fotol  
  %img{:src => "/attachments/whipp.png", :alt => "Whipp & Bourne GVR 27"}
#subtit
  Mc Graw<br/>
